header {
  background-image: url('https://pixabay.com/static/uploads/photo/2014/12/15/17/17/sailing-boat-569336_960_720.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   text-align: center;
}
.Piece-of-mind  {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 80px;
    padding-left: 30px;
}
h1 {
  color: white;
  font-style: bold;
  text-align: left;
  font-size: 28px;
  padding-right: 20px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom; 80px;
}
h2 {
  color: white;
  margin: 0 auto;
}
h3  {
  color: blue;
  font-family: 'Arimo', sans-serif;
}
p {
  padding-right: 50px;
}
button  {
  background: yellow;
  color: blue;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
}
#section  {
  background: #f7f7f8;
}
#section-two  {
  background-image: url("testimonial_bg.jpg");
  background-repeat: no-repeat;
}
#bottom-button  {
  background: yellow;
  padding: 10%;
  margin: 0 auto;
  height: 10px;
}

.sign-up-now-box {
    background-color: #121212;
    border-radius: 7px;
    width: 20%;
    height: 40px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: white;
    position: relative;
  }
img: {
  float: center;
}