*  {
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  /*background-color: gray; */
  
}
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
  background: black;
    padding: 100px;
  margin: 0;
  display: block;
    font-family: 'Source Sans Pro', sans-serif;
  /* background-size: cover; */
  background-image: url("../images/moviebackground.jpeg");
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

nav {
   list-style: none;
  display: inline-block;
  margin: auto;
  padding: 10px;
  
}
nav  {
    height: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
   text-align: right;
  /* Why doesn't this work  */
}
.top h1 {
  text-align: center;
}
#display {
    width: 25%;
    background: rgba(47,55,73,0.5);
    margin: 0 auto;
    border-radius: 20px;
    text-align: left;
    padding: 30px;
}
div {
    display: block;
}
#entry {
  padding: 50px;
  text-align: center;

}
.text  {
  text-align: center;
  font-size: 24px;
}
input {
  margin: 10px 0;
  width: 75%;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}
#submit-btn {
  margin: 20px auto;
}
div.movie-poster {
  display: inline-block;

}
div img {
  margin: auto;
  background-size: cover;
/*  height: 800px;
width: 100%; */
}

